<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Jumbo Cash</title>
</head>
<body>
      <a href="/auth/logout">Logout</a>
      <br>
      <a href="/auth/login">Login</a>
      <br>
      <a href="/">Home</a>
      <br>
      <a href="/auth/google">Login using Google</a>
      <br>
      <a href="/auth/facebook">Login using FB</a>
</body>
</html>