.grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 15% auto 25%;
}

.menu-container {
  padding: 3em 0;
  justify-self: stretch;
}

.transaction-container {
  padding: 3em 0;
  justify-self: center;
}

.form-container {
  padding: 3em 0;
  padding-right: 2em;
  justify-self: stretch;
}
